{% extends "layout.html.twig" %}

{% block content%}
    <div class="page-statique">
        <h2>
            Nos valeurs :
        </h2>
        <br>
        <h3>
            1/ Toujours plus.
        </h3>
        <h3>
            2/ Toujours mieux.
        </h3>
        <h3>
            3/ Toujours plus haut.
        </h3>
    </div>
{% endblock%}